html {
	background-image:linear-gradient(#fafafa, #eaeaea);
	background-image:-o-linear-gradient(#fafafa, #eaeaea);
	background-image:-ms-linear-gradient(#fafafa, #eaeaea);
	background-image:-moz-linear-gradient(#fafafa, #eaeaea);
	background-image:-webkit-linear-gradient(#fafafa, #eaeaea);
	height:100%;
}
body {
	color:#222;
	font-family:"Lucida Grande","Tahoma","Verdana","Arial",sans-serif;
	font-size:large;
}

code {
	background-color:#eee;
	padding:0 5px 2px 5px;
	font-size:19px;
	font-family:"ff-tisa-web-pro", georgia;
	display:inline-block;
	border:1px solid #ddd;
	border-radius:3px;
	line-height:19px;
	text-shadow:#fff 0 1px;
}

a {
	color:#4298ED;
	font-weight:bold;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

button {
	background:#4298ED;
	border:1px solid #2b80d2;
	text-shadow:0 1px 1px #2b80d2;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:white;
	display:block;
	font-size:6vmin;
	padding:50px;
}
button[disabled] {
	background: #cccccc;
	border:1px solid #aaaaaa;
	color: #aaaaaa;
	text-shadow: 0 1px 0 white;
}

#start {
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-77px;
	margin-left:-100px;
}

#container {
	position:absolute;
	top:25px;
	right:25px;
	bottom:25px;
	left:25px;
	min-width:320px;
	min-height:480px;
}

#title {
	margin:0;
}
#description {
	overflow:auto;
	position:absolute;
	top:60px;
	right:0;
	left:0;
	height:46px;
	margin:0;
}
#progress {
	color:rgba(0,0,0,.3);
	position:absolute;
	top:38px;
	right:0;
}
#timer {
	font-size:32px;
	position:absolute;
	top:3px;
	right:0;
}
#submit-container {
	position:absolute;
	top:72%;
	right:70%;
	bottom:0;
	left:0;
}
#submit {
	height:100%;
	width:100%;
}
#console {
	background:#ffffff;
	border:1px solid #999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#444;
	font-family:monospace;
	overflow:auto;
	position:absolute;
	top:72%;
	right:0;
	bottom:0;
	left:32%;
}
#console div {
	padding:2.5px 5px;
}
#console .pass {
	color:#80bf40;
}
#console .fail {
	color:#ff3333;
}
#console .info {
	color: #bf7632;
}

.CodeMirror {
	border:1px solid #999;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:x-large;
	position:absolute;
	top:125px;
	right:0;
	bottom:30%;
	left:0;
	height:auto;
}